<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>ArtistAgency • Event - Details</title>
</head>
<head th:include="common/head :: defaultHead"/>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <h1>Event Details</h1>
        <img th:src="@{/img/event_details_photo.jpeg}" class="img-fluid w-100" alt="Beispiel Bild für Events">

        <h5 class="mt-3">Details:</h5>
        <div class="row">
            <label class="col-4" for="eventName">Eventname:</label>
            <p class="text-break col-8" id="eventName" th:text="${event.getEventName()}"/>

            <label class="col-4" for="artistName">Künstlername:</label>
            <p class="text-break col-8" id="artistName" th:text="${event.getArtist().getArtistName()}"/>

            <label class="col-4" for="eventDate">Datum:</label>
            <p class="text-break col-8" id="eventDate" th:text="${#temporals.format(event.getEventDate(), 'dd.MM.yyyy')} + ' um 19:00 Uhr'"/>

            <form th:action="@{/artist/details}" th:type="get">
                <input type="hidden" th:value="${event.getArtist().getID()}" name="id">
                <button type="submit" class="btn btn-outline-dark">Details zum Künstler</button>
            </form>
        </div>

        <div th:if="${venue != null}">
            <h5 class="mt-3">Location Details:</h5>
            <div class="row">
                <label class="col-4" for="venueName">Locationname:</label>
                <p class="text-break col-8" id="venueName" th:text="${venue.getName()}"/>

                <label class="col-4" for="venueEventType">Eventtyp:</label>
                <p class="text-break col-8" id="venueEventType" th:text="${venue.getEventtype()}"/>

                <label class="col-4" for="venueTargetGroup">Zielgruppe:</label>
                <p class="text-break col-8" id="venueTargetGroup" th:text="${venue.getTargetGroup()}"/>
            </div>
        </div>

        <div th:replace="common/messageHandler :: errorMessage"/>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
