<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="common/head :: defaultHead">

    <title>Finanzen</title>
</head>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <h1>Meine Finanzen</h1>
        <table class="table table-responsive table-dark table-hover">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Eventname</th>
                <th scope="col">Betrag</th>
                <th scope="col">Datum</th>
                <th scope="col">Done</th>
            </thead>
            <tbody>
                <tr th:each="log : ${financeLogs}">
                    <th scope="row"><label th:text="${log.getID()}"/></th>
                    <td><label th:text="${log.getUser().getUsername()}"/></td>
                    <td><label th:text="${log.getEvent().getEventName()}"/></td>
                    <td><label th:text="${log.getArtistPaidAmount()}"/></td>
                    <td><label th:text="${log.getArtistPaidDate()}"/></td>
                    <td><label th:text="${log.getDone()}"/></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
