body {
    padding-bottom: 20px;
}

.jumbotron {
    background-color: rgb(189, 189, 189);
    margin-inline: 15%;
    padding-inline: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    margin: 5px;
}

input, textarea, select, span {
    margin-top: 15px;
    margin-bottom: 5px;
}
