<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>ArtistAgency • Login</title>
</head>
<head th:include="common/head :: defaultHead"/>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>
    <div class="jumbotron">

        <h1>Login</h1>

        <form th:action="@{/user/login}" th:method="post">
            <div class="form-floating">
                <input type="email" class="form-control" id="username" name="username" placeholder="username">
                <label for="username">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Passwort</label>
            </div>
            <button type="submit" class="btn btn-info">Anmelden</button>
        </form>

        <div th:replace="common/messageHandler :: messageHandler"/>
    </div>
    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
