<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="common/head :: defaultHead"/>

    <title>Login</title>
</head>

<body>
<div class="jumbotron">
    <div th:replace="common/navigationBar :: navigationBar"/>

    <h1>Login</h1>

    <form th:action="@{/user/login}" th:method="post">
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" class="form-control" id="username" name="username"
                   placeholder="username">
            <small id="usernamelogin-help" class="form-text text-muted">Bitte geben Sie ihren Nutzernamen ein.</small>
        </div>
        <div class="form-group">
            <label for="password">Passwort:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Anmelden</button>
    </form>

    <p th:text="${errorMessage}">1<p/>
    <p th:text="${success}">2</p>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</div>
</body>
