<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="common/head :: defaultHead">
    <title>Login</title>
</head>

<body>
    <div th:replace="common/navigationBar :: navigationBar"/>
    <div class="jumbotron">

        <h1>Login</h1>

        <form th:action="@{/user/login}" th:method="post">
            <input type="hidden" id="username" name="username" value="ExampleUser1"/>
            <input type="hidden" id="password" name="password" value="password"/>
            <button type="submit" class="btn btn-info">Anmelden</button>
        </form>

        <div th:replace="common/messageHandler :: messageHandler"/>
    </div>
    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
