<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>ArtistAgency • Login</title>
</head>
<head th:include="common/head :: defaultHead"/>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">

        <h1>Login</h1>

        <form th:action="@{/user/login}" th:method="post">
            <div class="form-floating">
                <input type="email" class="form-control" id="username" name="username" placeholder="username">
                <label for="username">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Passwort</label>
            </div>
            <div class="row mt-3">
                <button type="submit" class="btn btn-outline-primary btn_stretched">Anmelden</button>
            </div>
        </form>

        <div class="mt-3 mb-3 row">
            <div>
                <p style="text-align: center;">Du hast noch keinen Account?</p>
                <a class="btn btn-outline-dark btn_stretched" role="button" href="/user/register">Hier Registrieren</a>
            </div>
        </div>

        <div th:replace="common/messageHandler :: messageHandler"/>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
