<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="common/head :: defaultHead"/>

    <title>Mein Profil</title>
</head>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <div th:replace="common/messageHandler :: messageHandler"/>

        <h1>Mein Profil</h1>
        <!--    TODO: Your code here -->
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
