<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="common/head :: defaultHead">

    <title>Mein Profil</title>
</head>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <div th:replace="common/messageHandler :: messageHandler"/>
        <div class="row">
            <div class="col-10">
                <h1>Mein Profil</h1>
            </div>
            <div class="col-2 align-items-end">
                <a th:href="@{/user/myProfile/edit}" type="submit" class="btn btn-dark">Daten bearbeiten</a>
            </div>
        </div>

        <div th:if="${!#strings.isEmpty(currentUser.getUsername())}">
            <div class="alert alert-success" role="alert" th:text="${currentUser.getUsername()}"/>
        </div>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
