<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="common/head :: defaultHead">

    <title>Registration</title>
</head>

<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <h1>Registration</h1>

        <form th:action="@{/user/register}" th:method="post" th:object=${user}>
            <div class="form-floating">
<!--                TODO: email als type einstellen -->
                <input type="text" class="form-control" id="username" name="username"
                       th:field="*{username}" placeholder="email" required/>
                <label for="username">Email</label>
            </div>
            <div class="form-floating">
<!--                TODO: minLength einstellen -->
                <input type="password" class="form-control" id="password" name="password"
                       th:field="*{password}" minlength="1" placeholder="password" required/>
                <label for="password">Passwort</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="artistName" name="artistName"
                       th:field="*{artistName}" placeholder="artistName" required/>
                <label for="artistName">Künstlername</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                       th:field="*{phoneNumber}" placeholder="phoneNumber" required/>
                <label for="phoneNumber">Telefonnummer</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control" id="salaryPerEvent" name="salaryPerEvent"
                       th:field="*{salaryPerEvent}" placeholder="0" max="300" min="0" required/>
                <label for="salaryPerEvent">Gehalt pro Auftritt in EURO</label>
            </div>
            <div class="form-floating">
                <textarea type="text" class="form-control" id="description" name="description"
                       th:field="*{description}" placeholder="Beschreibung" required/>
                <label for="description">Beschreibung</label>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label for="artType">Kunsttyp</label>
                </div>
                <div class="col-8">
                    <select class="form-control" id="artType" name="artType"
                            th:field="*{artType}">
                        <option th:value="MUSIC" selected>Musik</option>
                        <option th:value="COMEDY">Comedy</option>
                        <option th:value="PARTY">Party</option>
                    </select>
                </div>
            </div>
            <div class="form-floating">
                <input type="url" class="form-control" id="webLink" name="webLink"
                       th:field="*{webLink}" placeholder="webLink.de" required/>
                <label for="webLink">Link zur Webseite</label>
            </div>
            <button type="submit" class="btn btn-info">Registrieren</button>
        </form>

        <div th:if="${!#strings.isEmpty(success)}">
            <div class="alert alert-success" role="alert" th:text="${success}"/>
        </div>

        <div th:if="${!#strings.isEmpty(errorMessage)}">
            <div class="alert alert-danger" role="alert" th:text="${errorMessage}"/>
        </div>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
