<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>ArtistAgency • Registrierung</title>
</head>
<head th:include="common/head :: defaultHead"/>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <h1>Registrierung</h1>

        <form th:action="@{/user/register}" th:method="post" th:object=${user}>
            <div class="form-floating">
                <input type="email" class="form-control" id="username" name="username"
                       th:field="*{username}" placeholder="email" required/>
                <label for="username">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password"
                       th:field="*{password}" minlength="4" placeholder="password" required/>
                <label for="password">Passwort</label>
                <small>Das Passwort muss mindestens 4 Zeichen lang sein.</small>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="artistName" name="artistName"
                       th:field="*{artistName}" placeholder="artistName" required/>
                <label for="artistName">Künstlername</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                       th:field="*{phoneNumber}" placeholder="phoneNumber" required/>
                <label for="phoneNumber">Telefonnummer</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control" id="salaryPerEvent" name="salaryPerEvent"
                       th:field="*{salaryPerEvent}" placeholder="0" max="1000" min="0" required/>
                <label for="salaryPerEvent">Gehalt pro Auftritt in €</label>
                <small>Gehalt pro Auftritt muss zwischen 0 und 1000€ betragen.</small>
            </div>
            <div class="form-floating">
                <textarea type="text" class="form-control" id="description" name="description"
                       th:field="*{description}" placeholder="Beschreibung" style="height: 100px" maxlength="1000" required/>
                <label for="description">Beschreibung</label>
            </div>
            <div class="form-floating">
                <select class="form-select" id="artType" name="artType" aria-label="Floating label"
                        th:field="*{artType}">
                    <option th:value="MUSIC" selected>Musik</option>
                    <option th:value="COMEDY">Comedy</option>
                    <option th:value="PARTY">Party</option>
                </select>
                <label for="artType">Kunsttyp</label>
            </div>
            <div class="form-floating">
                <input type="url" class="form-control" id="webLink" name="webLink"
                       th:field="*{webLink}" placeholder="webLink.de" required/>
                <label for="webLink">Link zur Webseite</label>
            </div>
            <button type="submit" class="btn btn-info">Registrieren</button>
        </form>

        <div th:if="${!#strings.isEmpty(success)}">
            <div class="alert alert-success" role="alert" th:text="${success}"/>
        </div>

        <div th:if="${!#strings.isEmpty(errorMessage)}">
            <div class="alert alert-danger" role="alert" th:text="${errorMessage}"/>
        </div>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
