<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="common/head :: defaultHead">

    <title>Default</title>
</head>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <div class="alert alert-danger" role="alert">
            OOPS! Something went wrong!
        </div>
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5>Error "404 - Page not found" occurred. Sorry for that :)</h5>

                <a th:if="${!#strings.isEmpty(errorMessage)}" class="btn btn-dark" role="button" data-bs-toggle="collapse" href="#errorMessageContainer" aria-expanded="false" aria-controls="errorMessageContainer">
                    Fehlermeldung anzeigen
                </a>

                <div class="collapse" id="errorMessageContainer" th:include="common/messageHandler :: errorMessage"/>
            </div>
        </div>

        <form th:action="@{/home}">
            <button type="submit" class="btn btn-dark">Go to homepage</button>
        </form>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
