<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>ArtistAgency • Fehler</title>
</head>
<head th:include="common/head :: defaultHead"/>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <div class="alert alert-danger" role="alert">
            OOPS! Ein Fehler ist aufgetreten!
        </div>
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
<!-- TODO:                <h5 th:text="'Fehler ' + ${status} + ' ist aufgetreten. Entschuldigung dafür :)'"/>-->
                <h5>Fehler "404 - Site not found" ist aufgetreten. Entschuldigung dafür :)</h5>

                <a th:if="${!#strings.isEmpty(message)}" class="btn btn-dark" role="button" data-bs-toggle="collapse" href="#messageContainer" aria-expanded="false" aria-controls="errorMessageContainer">
                    Fehlermeldung anzeigen
                </a>

                <div class="collapse" id="messageContainer" th:include="common/messageHandler :: message"/>
            </div>
        </div>

        <form th:action="@{/home}">
            <button type="submit" class="btn btn-dark">Zurück zur Homepage</button>
        </form>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
