<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="common/head :: defaultHead"/>

    <title>ArtistDetails</title>
</head>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <h1>ArtistDetails</h1>

        <img th:src="@{/img/artist_default_photo.png}" class="img-fluid" alt="...">
        <div class="row">
            <label class="col-4" for="artistName">Künstlername:</label>
            <p class="text-break col-8" id="artistName" th:text="${artist.getArtistName()}"/>

            <label class="col-4" for="artType">Kunsttyp:</label>
            <p class="text-break col-8" id="artType" th:text="${artist.getArtType()}"/>

            <label class="col-4" for="description">Beschreibung:</label>
            <p class="text-break col-8" id="description" th:text="${artist.getDescription()}"/>

            <label class="col-4" for="webLink">Beschreibung:</label>
            <a class="text-break col-8" id="webLink" th:href="${artist.getWebLink()}" th:text="${artist.getWebLink()}"/>
        </div>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
