<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="common/head :: defaultHead"/>

    <title>Default</title>
</head>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <h1>Artists</h1>
        <!--    TODO: Your code here -->
        <table class="table table-dark table-hover">
            <thead>
                <th scope="col">placeholder</th>
                <th scope="col">Künstlername</th>
                <th scope="col">Beschreibung</th>
                <th scope="col">Link</th>
            </thead>
            <tbody>
                <tr th:each="artist : ${artists}">
                    <th scope="row"><label th:text="${artist.getUsername()}"/></th>
                    <td><label th:text="${artist.getArtistName()}"/></td>
                    <td><label th:text="${artist.getDescription()}"/></td>
                    <td><label th:text="${artist.getWeblink()}"/></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
