<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>ArtistAgency • ArtistDetails</title>
</head>
<head th:include="common/head :: defaultHead"/>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <h1>Künstler Details</h1>
        <img th:src="@{/img/artist_default_photo.jpeg}" class="img-fluid w-100" alt="Beispiel Bild für Artists">

        <h5 class="mt-3">Details:</h5>

        <div class="row">
            <label class="col-4" for="artistName">Künstlername:</label>
            <p class="text-break col-8" id="artistName" th:text="${artist.getArtistName()}"/>

            <label class="col-4" for="artType">Kunsttyp:</label>
            <p class="text-break col-8" id="artType" th:text="${artist.getArtType()}"/>

            <label class="col-4" for="description">Beschreibung:</label>
            <p class="text-break col-8" id="description" th:text="${artist.getDescription()}"/>

            <label class="col-4" for="webLink">Link:</label>
            <a class="text-break col-8" id="webLink" th:href="${artist.getWebLink()}" th:text="${artist.getWebLink()}"/>
        </div>

        <h5 class="mt-3">Kommende Events:</h5>

        <div th:replace="common/eventList :: eventList"/>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
