<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="common/head :: defaultHead"/>

    <title>Default</title>
</head>
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <div class="row">
            <div class="col-10">
                <h1>Artists</h1>
            </div>
            <div class="col-2 align-items-end" sec:authorize="isAuthenticated()">
                <a th:href="@{/artist/myProfile}" type="submit" class="btn btn-dark">Mein Profil</a>
            </div>
        </div>
        <table class="table table-responsive table-dark table-hover">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Künstlername</th>
                <th scope="col">Telefonnummer</th>
                <th scope="col">Gehalt</th>
                <th scope="col">Beschreibung</th>
                <th scope="col">Künstlertyp</th>
                <th scope="col">Weblink</th>
                <th scope="col"> </th>
            </thead>
            <tbody>
                <tr th:each="artist : ${artists}">
                    <th scope="row"><a th:text="${artist.getUserId()}"/></th>
                    <td><label th:text="${artist.getUsername()}"/></td>
                    <td><label th:text="${artist.getArtistName()}"/></td>
                    <td><label th:text="${artist.getPhoneNumber()}"/></td>
                    <td><label th:text="${artist.getSalaryPerEvent()}"/></td>
                    <td><label th:text="${artist.getDescription()}"/></td>
                    <td><label th:text="${#strings.capitalize(artist.getArtType())}"/></td>
                    <td><a th:href="${artist.getWebLink()}" th:text="${artist.getWebLink()}"/></td>
                    <td><form th:action="@{/artist/details}" th:type="get">
                        <input type="hidden" th:value="${artist.getUserId()}" name="id">
                        <button type="submit" class="btn btn-info">Details</button>
                    </form></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
