<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>ArtistAgency - Mein Profil</title>
</head>
<head th:include="common/head :: defaultHead">
<body>
    <div th:replace="common/navigationBar :: navigationBar"/>

    <div class="jumbotron">
        <div th:replace="common/messageHandler :: messageHandler"/>
        <div class="row">
            <div class="col-10">
                <h1>Mein Profil</h1>
            </div>
            <div class="col align-items-end">
                <a th:href="@{/artist/myProfile/edit}" type="submit" class="btn btn-dark">Daten bearbeiten</a>
            </div>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="id_addon">ID</span>
            <input type="text" class="form-control"
                   aria-label="id" aria-describedby="id_addon"
                   th:value="${currentUser.getID()}" disabled readonly/>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="username_addon">Email</span>
            <input type="email" class="form-control"
                   aria-label="Username" aria-describedby="username_addon"
                   th:value="${currentUser.getUsername()}" disabled readonly/>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="artistName_addon">Künstlername</span>
            <input type="text" class="form-control"
                   aria-label="artistName" aria-describedby="artistName_addon"
                   th:value="${currentUser.getArtistName()}" disabled readonly/>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="phoneNumber_addon">Telefonnummer</span>
            <input type="text" class="form-control"
                   aria-label="phoneNumber" aria-describedby="phoneNumber_addon"
                   th:value="${currentUser.getPhoneNumber()}" disabled readonly/>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="salaryPerEvent_addon">Gehalt / Auftritt</span>
            <input type="number" class="form-control"
                   aria-label="salaryPerEvent" aria-describedby="salaryPerEvent_addon"
                   th:value="${currentUser.getSalaryPerEvent()}" disabled readonly/>
        </div>

        <div class="input-group">
            <span class="input-group-text">Beschreibung</span>
            <textarea class="form-control" aria-label="description"
                   th:text="${currentUser.getDescription()}" disabled readonly/>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="artType_addon">Kunsttyp</span>
            <select class="form-select" aria-label="artType" aria-describedby="artType_addon" disabled readonly>
                <option th:selected="${currentUser.getArtType()=='MUSIC'}">Musik</option>
                <option th:selected="${currentUser.getArtType()=='COMEDY'}">Comedy</option>
                <option th:selected="${currentUser.getArtType()=='PARTY'}">Party</option>
            </select>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="webLink_addon">Webseite</span>
            <input type="url" class="form-control"
                   aria-label="webLink" aria-describedby="webLink_addon"
                   th:value="${currentUser.getWebLink()}" disabled readonly/>
        </div>
    </div>

    <div th:replace="common/footer :: footerWithBoostrap"/>
</body>
</html>
